<div class="partners">
	<div class="container">
		<ul class="owl-carousel js-partners-carousel">
            <li><a href="http://www.unitedway.ru/" target="_blank" ><img src="{{ asset('images/logos/logo-1.png') }}" alt=""></a></li>
            <li><a href="https://asi.ru/" target="_blank" ><img src="{{ asset('images/logos/logo-2.png') }}" alt=""></a></li>
            <li><a href="https://money.yandex.ru/" target="_blank" ><img src="{{ asset('images/logos/logo-3.png') }}" alt=""></a></li>
            <li><a href="https://cardsmobile.ru/" target="_blank" ><img src="{{ asset('images/logos/logo-4.png') }}" alt=""></a></li>
            <li><a href="http://icolab.fund/" target="_blank" ><img src="{{ asset('images/logos/logo-5.png') }}" alt=""></a></li>
            <li><a href="http://advita.ru/" target="_blank" ><img src="{{ asset('images/logos/logo-6.png') }}" alt=""></a></li>
            <li><a href="http://www.fond-nika.ru/" target="_blank" ><img src="{{ asset('images/logos/logo-7.png') }}" alt=""></a></li>
            <li><a href="https://arifmetika-dobra.ru/" target="_blank" ><img src="{{ asset('images/logos/logo-8.png') }}" alt=""></a></li>
            <li><a href="http://metarex.ru/" target="_blank" ><img src="{{ asset('images/logos/logo-9.png') }}" alt=""></a></li>
            <li><a href="https://www.asi.org.ru/" target="_blank" ><img src="{{ asset('images/logos/logo-10.png') }}" alt=""></a></li>
            <li><a href="http://moypolk.ru/" target="_blank" ><img src="{{ asset('images/logos/logo-11.png') }}" alt=""></a></li>
            <li><a href="http://www.childrenshospice.ru/" target="_blank" ><img src="{{ asset('images/logos/logo-12.png') }}" alt=""></a></li>
        
            {#<li><a href="https://money.yandex.ru/" target="_blank" ><img width="100" src="{{ asset('img/new-layout/ft5.png') }}" alt="Яндекс.Деньги"/></a></li>
            <li><a href="https://cardsmobile.ru" target="_blank"><img width="100" src="{{ asset('img/cardsmobilelogo.png') }}" alt="Кошелёк"/></a></li>
            <li><a href="http://metarex.ru" target="_blank"><img width="100" src="{{ asset('img/metarexlogo.png') }}" alt="Метарекс"/></a></li>
            <li><a href="http://icolab.fund" target="_blank"><img width="100" src="{{ asset('img/icolablogo.png') }}" alt="ICO Lab"/></a></li>
            <li><a href="https://www.asi.org.ru/" target="_blank"><img width="100" src="{{ asset('img/asi.png') }}" alt="Агентство социальной информации"/></a></li>
            <li class="col-sm-6"><a href="https://asi.ru/" target="_blank"><img src="{{ asset('img/landing/ft6.png') }}" alt="img"></a></li>#}
        </ul>
	</div>
</div>
