{% extends '../../tpl/base.html.twig' %}

{% block breadcrumbs_list %}
    <li><a href="{{ path('homepage') }}">Главная</a></li>
    <li><a href="{{ path('funds') }}">Фонды</a></li>
{% endblock %}

{% block social_share %}{% endblock %}

{% block body %}

	
	<section class="wr p-tb">
		<div class="container">

			<ul class="list-funds">
				{% for fund in funds %}
					<li>
						<a href="{{ path('fund', {'slug': fund.slug}) }}">
							<figure>
								{% if fund.logo %}
								<img src="{{ asset(fund.logo.fileUrl('256p')) }}">
								{% endif %}
								<figcaption>
									<p>{{ fund.specialization }}</p>
									<span>{{ fund.city }}</span>
								</figcaption>
							</figure>
						</a>
					</li>
				{% endfor %}
			</ul>

		</div>
	</section>

{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}