{% extends '../../tpl/base.html.twig' %}

{% set metaDescription = 'Страница благотворительной организации' %}
{% set metaName = fund.name %}

{% block meta_description %}
	<meta name="description" content="{{ metaDescription }}"/>

	<meta property="og:url" content="{{ app.request.uri }}"/>
	<meta property="og:type" content="profile"/>
	<meta property="og:title" content="{{ metaName ~ ' | ' ~ siteTitle }}"/>
	<meta property="og:description" content="{{ metaDescription }}"/>

	{% if fund.logo %}
		<meta property="og:image" content="{{ baseUrl ~ '/' ~ fund.logo.fileUrl('500p') }}"/>
		<link rel="image_src" href="{{ baseUrl ~ '/' ~ fund.logo.fileUrl('500p') }}">
	{% endif %}
{% endblock %}

{% block body %}

	<section class="wr bg_white">
		<div class="container">
			<!-- Breadcrumbs -->
			{% block breadcrumbs %} {% endblock %}
			<nav class="breadcrumbs">
				<ul class="navigation">
					<li><a href="{{ path('homepage') }}">Главная</a></li>
					<li><a href="{{ path('funds') }}">Фонды</a></li>
					{# <li><a href="#">Животные</a></li>#}
					<li><a href="{{ path('fund', {'slug': fund.slug}) }}">{{ fund.shortname }}</a></li>
				</ul>
				<ul class="share">
					<li>Поделиться:</li>
					<li>
						<a class="vk" href="#" data-social="vkontakte"
						{% if fund.logo %}data-image="{{ asset(fund.logo.fileUrl('256p')) }}"{% endif %}
						data-title="{{ fund.name }}" data-description="{{ fund.name }}"><i
						class="fa fa-vk fa-lg vk"></i></a>
					</li>
					<li>
						<a class="ok" href="#" data-social="odnoklassniki"
						{% if fund.logo %}data-image="{{ asset(fund.logo.fileUrl('256p')) }}"{% endif %}
						data-title="{{ fund.name }}" data-description="{{ fund.name }}"><i
						class="fa fa-odnoklassniki fa-lg odnoklassniki"> </i></a>
					</li>
					<li>
						<a class="fb" href="#" data-social="facebook"
						{% if fund.logo %}data-image="{{ asset(fund.logo.fileUrl('256p')) }}"{% endif %}
						data-title="{{ fund.name }}" data-description="{{ fund.name }}"><i
						class="fa fa-facebook fa-lg fb"> </i></a>
					</li>
					<li>
						<a class="tw" href="#" data-social="twitter"
						{% if fund.logo %}data-image="{{ asset(fund.logo.fileUrl('256p')) }}"{% endif %}
						data-title="{{ fund.name }}" data-description="{{ fund.name }}"><i
						class="fa fa-twitter fa-lg tw"></i></a>
					</li>
					<li>
						<a class="gp" href="#" data-social="googleplus"
						{% if fund.logo %}data-image="{{ asset(fund.logo.fileUrl('256p')) }}"{% endif %}
						data-title="{{ fund.name }}" data-description="{{ fund.name }}"><i
						class="fa fa-google-plus fa-lg google"></i></a>
					</li>
				</ul>
			</nav>
		</div>
	</section>

	<section class="wr">
		<div class="container">

			<div class="personal-info">
				<figure style="background: url({{ asset(fund.logo.fileUrl('256p')) }}) center center no-repeat; background-size: cover;">
				</figure>
				<section>
					<h1>{{ fund.name }}</h1>
					<ul>
						<li>
							<p>{{ fundCompletedOrders['orderscount'] }}</p>
							<span>пожертвованных вещей выкуплено</span>
						</li>
						<li>
							<p>{{ fundCompletedOrders['sum_total'] }}</p>
							<span>пожертвований собрано</span>
						</li>
					</ul>
				</section>
				<a href="{{ path('market_add', {id: fund.id}) }}" class="donation"><p>Пожертвовать вещь
				фонду</p><i class="icon plus-add"></i></a>
			</div>

			<div class="tabs-personal js-tab_direct">
				<a href="#" class="js-toggle-menu">Меню фонда <i class="fa fa-angle-down"></i></a>
				<ul>
					<li {% if not app.request.get('tab') %} class="active" {% endif %}><a href="#tab-I">Описание</a></li>
					{% if projects %}
						<li><a href="#tab-II">Проекты<span> {{ projects|length }}</span></a></li>
					{% endif %}

					{% if false %}
						<li><a href="#tab-III">Отчеты<span> 3</span></a></li>
					{% endif %}
					<li class="{{ app.request.get('tab') == 'products' ? 'active' : '' }}"><a href="#tab-IV">Вещи в пользу фонда<span> {{ products|length }}</span></a></li>
					<li><a href="#buttons">Кнопка на сайт</a></li>
				</ul>
			</div>
		</div>
	</section>
	
	<section class="wr-personal-tabs">
		<div class="js-tab_direct-wr">

			<!-- TAB I -->
			<div id="tab-I" class="tab tab--active p-tb">
				<div class="container">	

					<article class="personal-about">
						<header>
							<h3>Контакты</h3>
							<hgroup>
								<h4>{{ fund.name }}</h4>
								<h5>Некоммерческая организация</h5>
							</hgroup>
							{% if false %}
								<address>
									119421, г. Москва, Ленинский пр., д.111, к. 1, оф. 502 <br>
									e–mail: fonddar@fonddar.ru
								</address>
							{% endif %}
							<a href="{{ fund.website }}" class="btn" rel="nofollow" target="_blank">Перейти на сайт</a>
						</header>

						<footer>
							<p>{{ fund.description|raw }}</p>
						</footer>
					</article>

				</div>
			</div>

			<!-- TAB II -->
			{% if projects %}
				<div id="tab-II" class="tab wr bg_white p-tb">
					<div class="container">

						<ul class="list-projects">
							{% for item in projects %}
								<li>
									<article>
										<section>
											<h3>{{ item.name }}</h3>
											<p>{{ item.description|raw }}</p>
											<a href="{{ path('project', {'slug': item.slug}) }}">Подробнее</a>
										</section>
									</article>
								</li>
							{% endfor %}
						</ul>

					</div>
				</div>
			{% endif %}

			<!-- TAB IV -->
			<div id="tab-IV" class="tab p-tb">
				<div class="container">	

					<ul class="list-products">
						{% if fund %}
							{% set fundid=fund.id %}
						{% endif %}

						{% for item in products %}
							{% include 'AppBundle:market:catalog-item.html.twig' %}
						{% endfor %}
					</ul>

				</div>
			</div>
			 <!-- buttons -->
			<div id="buttons" class="tab wr-personal-tab gray">
				<div class="container">
					<div class="row">
						<h4>Разместите код кнопки на вашем сайте, чтобы начать принимать пожертвования в пользу
							этого
						фонда.</h4>
						<br>
						<ul class="articles">
							<div id="shareButton">

								<form>
									<div>
										<strong>Вид:</strong>
										<span class="selectstyle">
											<select id="iconType" style="width: 180px">
												<option value="square">Прямоугольник</option>
												<option value="circle">Круг</option>
												<option value="squarebig">Большой прямоугольник</option>
											</select>
										</span>
									</div>


									<div>
										<strong>Размер:</strong>
										<span class="selectstyle">
											<select id="buttonSize" style="width: 40px">
												<option value="1x">1x</option>
												<option value="2x">2x</option>
												<option value="3x">3x</option>
											</select>
										</span>
									</div>

									<div>

										<strong>Надпись:</strong>
										<span class="selectstyle">
											<select id="textOption" style="width: 240px">
												<option value="A">Вещи на благотворительность</option>
												<option value="B">Вещи в деньги</option>
												<option value="C">Товары на благотворительность</option>
											</select>
										</span>
									</div>

									<div>
										<strong>Прозрачный фон?</strong>
										<span class="selectstyle">
											<select id="transparentButton" style="width: 50px">
												<option value="0">Нет</option>
												<option value="1">Да</option>
											</select>
										</span>
									</div>


								</form>

								<div id="viewFrame" style="padding: 10px 0 10px 0">

								</div>


								<div class="form">
									<strong> HTML код:</strong><br>
									<span class="wr-input">
										<input id="viewCode" type="text" readonly required="required">
										<button id="copyCode" class="btn">Скопировать код</button>
									</span>
								</div>


							</div>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<!-- Новый дизайн-->
	{#<script src="{{ asset('js/new-layout/jquery-3.2.1.js') }}" type="text/javascript"></script>#}
	<script src="{{ asset('js/new-layout/select2.full.min.js') ~ codeRevisionPostfix }}"
			type="text/javascript"></script>
	<script src="{{ asset('js/new-layout/script.js') ~ codeRevisionPostfix }}" type="text/javascript"></script>
	<!-- Новый дизайн-->

	<!-- PNotify -->
	<script src="{{ asset('assets/vendors/pnotify/dist/pnotify.js') ~ codeRevisionPostfix }}"></script>
	<script src="{{ asset('assets/vendors/pnotify/dist/pnotify.buttons.js') ~ codeRevisionPostfix }}"></script>

	<!-- Other functions & debug -->
	<script src="{{ asset('js/functions.js') ~ codeRevisionPostfix }}" type="text/javascript"></script>
	<script src="{{ asset('js/widgets/site_button.js') ~ codeRevisionPostfix }}"></script>

	<script>

		$(document).ready(function () {
			var hint = "";
			var src = "{{ baseUrl ~ path('embedded_button', {'slug': fund.slug}) }}";

			$('#iconType').change('change', function () {
				onChangeSettings(src, hint)
			});
			$('#buttonSize').on('change', function () {
				onChangeSettings(src, hint)
			});
			$('#textOption').on('change', function () {
				onChangeSettings(src, hint)
			});
			$('#transparentButton').on('change', function () {
				onChangeSettings(src, hint)
			});

			$('#copyCode').on('click', function () {
				$('#viewCode').select();
				document.execCommand("copy");
			});

			onChangeSettings(src, hint);
		});
	</script>

	<script src="{{ asset('js/goodshare.min.js') ~ codeRevisionPostfix }}"></script>
{% endblock javascripts %}